{% extends "base.html" %} {% block title %} Password Reset {% endblock title %}
<!-- -->
{% comment %} to reset password {% endcomment %}
<!-- -->
{% block content %}
<div class="flex">
    <div class="m-auto">
        {% if validlink %}
        <h1>Set new password</h1>
        <p>Enter password twice to confirm</p>
        <!--NOTE: using form we can make use of exiting form for password update -->
        <form action="" method="post">
            {% csrf_token %}
            <div>{{form}}</div>
            <div>
                <button type="submit">Change Password</button>
            </div>
        </form>
        {% else %}
        <h1>Unsuccessfull</h1>
        <p>Invalid link or expired</p>
        {% endif %}
    </div>
</div>

{% endblock content %}