{% extends "base.html" %}
{% block title %}List of Books{% endblock title %}
{% block content %}
  <h1 class="place-items-center">List of books</h1>
  <div class="grid grid-cols-3 gap-3 mt-10">
    {% for book in books %}
    <a href={% url 'book.show' book.id %} class="justify-self-center text-center my-4" target="_blank">
      <div class="flex justify-center">
      {% comment %} NOTE: below code is commented since we wanted to use images from local path {% endcomment %}
        {% comment %} <img src="{{book.thumbnailUrl}}" alt="" srcset="" /> {% endcomment %}
        <img src="{{book.image.url}}" alt="" srcset="" />
      </div>
      <p><b>{{book.title}}</b></p>
    </a>
    {% endfor %}
  </div>
{% endblock content %}