{% extends 'base.html' %}
{% block title %}{{book.title}}{% endblock title %}
{% block nav_title %}
{{book.title}}
{% endblock %}
{% block content %}
<h1>{{book.title}}</h1>
<div>
  <div class="flex justify-center">
  {% comment %} NOTE: below code is commented since we wanted to use images from local path {% endcomment %}
    {% comment %} <img src="{{book.thumbnailUrl}}" alt="" srcset="" /> {% endcomment %}
    <img src="{{book.image.url}}" alt="" srcset="" width="200" height="200"/>
  </div>
  <div class="mt-10">
    <b>Total Pages:</b>
    <p class="text-gray-600 mt-5">{{book.pageCount}}</p>
  </div>

  <div class="mt-10">
    <b>Short Description:</b>
    <p class="text-gray-600 mt-5">{{book.shortDescription}}</p>
  </div>

  <div class="mt-10">
    <b>Description:</b>
    <p class="text-gray-600 mt-5">{{book.longDescription}}</p>
  </div>
  <div class="mt-10">
    <b>ISBN:</b>
    <p class="text-gray-600 mt-5">{{book.isbn}}</p>
  </div>
  <div class="mt-10">
    <b>Categories:</b>
    <p class="text-gray-600 mt-5">{{book.categories}}</p>
  </div>

  {% comment %}NOTE: using ','.join(list)-> we used django syntax as below since we authors as collection of list
  {% endcomment %}
  <div class="mt-10">
    <b>Author:</b>
    <div class="text-gray-600 mt-5">
      {% for author in authors %}
        <a href= {% url 'author.books' author.name %}>{{author.name}}</a>,
      {% endfor %}
    </div>
  </div>
</div>
<div class="mt-10">
  {% if user.is_authenticated %}
    <form action={% url 'book.review' book.id %} method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{forms.as_p}}
      {% comment %} 
      NOTE: earlier it was html , now we are using django forms which can do same purpose.
      <textarea name="review" class="border rounded p-2 w-full" cols="30" rows="5"
        placeholder="Write your review"></textarea> {% endcomment %}
      <button type="submit" class="float-right border rounded p-2">Post it</button>
    </form>
  {% else %}
    <p>
    {% comment %} NOTE: we adding next to take us to correct path after login {% endcomment %}
      <a class="text-blue-600" href="{% url 'login' %}?next={{request.path}}" class="p-2 rounded bg-white text-black">Login</a> to write review
    </P>
  {% endif %}
</div>
<br />
<div>
  <h2>Customers review</h2>
  {% for review in reviews %}
  <div class="group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent ...">
    
    <p class="text-indigo-500 group-hover:text-gray-500 ...">{{review.body}}</p>
    <p>By, @<b>{{review.user}}</b></p>
    <img src={{review.image}} alt="" width="100"/>
    <p>--*****--</p>
  </div>
  {% endfor %}
</div>
{% endblock content %}